
<div class="container" *ngIf="page">
    <div class="row">
        <div class="col-md-8">
            <div class="button-group pull-right">
                <button class="btn btn-sm btn-primary" [disabled]="currentPageNumber<1" (click)="changePage(-1)">
          <span class="glyphicon glyphicon-backward"></span>
        </button>
                <button class="btn btn-sm btn-primary" [disabled]="currentPageNumber>=page.totalPages-1" (click)="changePage(1)">
          <span class="glyphicon glyphicon-forward"></span>
        </button>
            </div>
            <div *ngIf="isAdmin()">
            <b>kategorija</b><select name="kategorija" class="form-control"  [compareWith]="byId" [(ngModel)]="vest.kategorije">
                    <option *ngFor="let kategorija of kategorije" [ngValue]="kategorija">{{kategorija.name}}</option>  
                  </select> 
            <b>name</b> <input type="text" [(ngModel)]="nameItem"><button class="btn btn-sm btn-success" (click)="find()">filter</button>
        </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>naslov</th>
                        <th>kategorija</th>
                        <th>opis</th>
                        <th>sadrzaj</th>
                        <th *ngIf="isAdmin()">action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let meniItem of page.content">
                        <td>{{meniItem.name}}</td>
                        <td>{{meniItem.kategorija.name}}</td>
                        <td>{{meniItem.opis}}</td>
                        <td>{{meniItem.sadrzaj}}</td>
                        <td>
                            <button  *ngIf="!isAdmin()" class="btn btn-danger"  [routerLink]="['/vest/', meniItem.id]" class="btn btn-primary">detalji</button>
                            <button class="btn btn-danger" *ngIf="isAdmin()" (click)="delete(meniItem)">delete</button>
                            <button class="btn btn-warning" *ngIf="isAdmin()" (click)="edit(meniItem)">edit</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="col-md-4">
                <app-edit-save *ngIf="isAdmin()" [kategorije]="kategorije" [vest]="forEdit" (addComponentEmitter)="addVest($event)">
                </app-edit-save>
              
        </div>