

<form  class="form" (ngSubmit)="add()">
    <div class="form-group">
      <label>kategorija</label>
      <select name="kategorija" class="form-control"  [compareWith]="byId" [(ngModel)]="vest.kategorije">
        <option *ngFor="let kategorija of kategorije" [ngValue]="kategorija">{{kategorija.name}}</option>  
      </select> 
    </div>
    <div class="form-group">
      <label>name</label>
      <input type="text" name="name" class="form-control" [(ngModel)]="vest.name"/>
    </div>
    <div class="form-group">
      <label>opis</label>
      <textarea type="text" name="price" class="form-control" [(ngModel)]="vest.opis"></textarea>
      <label>sadrzaj</label>
      <textarea type="text" name="price" class="form-control" [(ngModel)]="vest.sadrzaj"></textarea>
      <!-- <input type="text" name="price" class="form-control" [(ngModel)]="meniItem.price"/> -->
    </div>
    <div class="pull-right">
      <input type="submit" class="btn btn-primary" value="save"/>
      <input type="button" (click)="reset()" class="btn btn-warning" value="reset"/>
    </div>
  </form>