ul .active a {
    border-right: 2px solid #333;
}

ul .active a:hover {
    color: white;
    background-color: #333;
}

.jumbotron {
    padding-bottom: 2%
}

h5 {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-style: italic;
}

footer {
    text-align: center;
    font-family: monospace;
}