<!-- <nav class="navbar navbar-inverse navbar-fixed-top" ">
    <div class="container ">
        <div class="navbar-header ">
            <a class="navbar-brand " href="studenti ">CompShop</a>
        </div>
        <div id="navbar " class="navbar-collapse collapse ">
            <ul class="nav navbar-nav ">
                <li class="active "><a href="studenti ">Students</a></li>
                <li><a href="about ">About</a></li>
                <li><a href="contact ">Contact</a></li>
            </ul>
            <!-- <ul class="nav navbar-nav pull-right ">
                <li *ngIf="isLoggedIn() " class="active "><a (click)="logout() ">Logout</a></li>
                <li *ngIf="!isLoggedIn() " class="active "><a href="login ">Login</a></li>
            </ul> -->
<!-- <ul class="nav navbar-nav pull-right ">
    <li *ngIf="!isLoggedIn() "><a (click)="toggleLogIn() ">LogIn</a></li>
    <li (click)="toggleLogIn() " routerLink="login "><a>LogIn</a></li>
    <li *ngIf="isLoggedIn() "><a (click)="logout() ">Logout</a></li>
</ul>
</div>
</div>
</nav>
<div class="container theme-showcase " role="main ">
    <div class="jumbotron ">
        <h1>ComputerShop</h1>
        <p>Spring + Angular aplikacija razvijena u okviru Obuke iz veb programiranja 2017. godine.</p>
    </div>
    <router-outlet></router-outlet>
</div> -->

<nav class="navbar  navbar-inverse  navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="main">Home</a></li>
                <li *ngIf="!isLoggedIn()" class="active"><a href="register">Register</a></li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li *ngIf="isLoggedIn()" class="active"><a (click)="logout()">Logout</a></li>
                <li *ngIf="!isLoggedIn()" class="active"><a href="login">Login</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container theme-showcase" role="main">
    <div class="jumbotron">
        <h2>Trattoria La Campana</h2>
        <h5>...perfect place to grab bite and wash it down with some local wine...</h5>
    </div>
    <router-outlet></router-outlet>
</div>

<!-- <nav class="navbar fixed-bottom navbar-expand navbar-light bg-light">
      <div class="navbar-text m-auto">
          Made with <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>️ by Nikola
      </div>
  </nav> -->
<footer class="footer">

    <span id="copyright">Made by Nikola 2017</span>

</footer>